{% extends "base.html" %}
{% load static %}
{% block page_content %}


<!--Main Navigation-->
<header>

    <!--Navbar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
            <!-- Collapse button -->

            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="#intro">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bills">Bill Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#rep">Contact your Rep</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
                <!-- Links -->
            </div>
            <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->


    <!-- Jumbotron -->
    <div class="jumbotron text-center blue-grey lighten-5">
      <h2 class="card-title h2">         </h2>
      <h2 class="card-title h2">         </h2>
      <!-- Title -->
      <h2 class="card-title h1">Issue to Impact</h2>
      <hr class="hr-light">
      <!-- Subtitle -->
      <p class="h4">Let your state representatives know how you feel!</p>

      <!-- Grid row -->
      <div class="row d-flex justify-content-center">

      </div>
    </div>
    <!-- Jumbotron -->

</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5">
    <div class="container">

        <!--Section: Best Features-->
        <section id="about" class="text-center">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold">About this App</h2>

            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">

                <!--Grid column-->
                <div class="col-md-8">

                    <!-- Description -->
                    <p class="grey-text">We know it's hard to keep up on everything
                      happening in the Federal legislature, let alone your state legislature.
                    Whether you run a letter writing campaign, want to track certain issues of interest,
                  or just want to make sure your rep understands your opinions as a constituent,
                Issue to Impact makes tracking legislation and contacting your representative easier.</p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Best Features-->

        <hr class="my-5">

        <!--Section: Examples-->
        <section id="bills" class="text-center">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold">What bills are being discussed?</h2>

            <!--Grid row-->
            <div class="row">
               <div class="frame">
                   <form method="get">
                       {% csrf_token %}
                       <table class="form">
                       {{ form }}
                       </table>
                       <input type="submit" value="Submit" />
                   </form>
               </div>


               {% if args %}
               <div class="args">
                   <pre>{{ args }}</pre>
               </div>
               {% endif %}

               {% if err %}
               <div class="error">
                   {{ err|safe }}
               </div>
               {% endif %}
<!--


               <div class="frame">
                   {% if result != None %}
                   <div class="results">
                       <table class="courses">
                           <!-- <tr> -->
                               <!-- {% for col in columns %}
                               <th>{{ col }}</th>
                               {% endfor %}
                           </tr> -->
                           <!-- {% for entry in result %}
                           <tr>
                               {% for col in entry %}
                               <td>{{ col }}</td>
                               {% endfor %}
                           </tr>
                           {% endfor %}
                       </table>
                   </div>
                   <p class="num_results">Results: {{ num_results }}</p>
                   {% endif %}
               </div> -->



            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
          {% if result != None %}
          {% for entry in result %}
              <!-- Accordion card -->
              <div class="card">

                <!-- Card header --> <div class="card-header" role="tab"
                id="heading{{ forloop.counter }}"> <a data-toggle="collapse"
                data-parent="#accordionEx" href="#collapse{{ forloop.counter }}"
                aria-expanded="true" aria-controls="collapse{{ forloop.counter }}"> <h5
                class="mb-0"> {{ entry.synopsis }}<i class="fas
                fa-angle-down rotate-icon"></i> </h5> </a> </div>

                <!-- Card body -->
                <div id="collapse{{ forloop.counter }}" class="collapse show"
                role="tabpanel" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionEx">
                <div class="card-body">
                  <table class="bills">
                    <tr>
                      {% for col in columns %}
                          <th>{{ col }}</th>
                          {% endfor %}
                      </tr>
                      <tr>
                          {% for col in entry %}
                          <td>{{ col }}</td>
                          {% endfor %}
                      </tr>
                  </table>
                  </div>
                </div>

              </div> <!-- Accordion card -->
          {% endfor %}
          <!-- </table> -->
          </div>
          <p class="num_results">Results: {{ num_results }}</p>
          {% endif %}
</div> <!-- Accordion wrapper -->

            <!--Grid row-->

        </section>
        <!--Section: Examples-->

        <hr class="my-5">

        <!--Section: Gallery-->
        <section id="rep">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">Find my Rep</h2>




                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Gallery-->

        <hr class="my-5">

        <!--Section: Contact-->
        <section id="contact">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">Contact us</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-5 col-md-12">

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7 col-md-12">

                    <!--Grid row-->
                    <div class="row text-center">

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-3">



                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-3">



                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-3">


                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Google map-->
                    <div id="map-container" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Contact-->

    </div>
</main>
<!--Main layout-->

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">


    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>About this Site</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>This site was made as a project for CAPP CS122 Winter 2020</p>
            </div>
            <!--/.First column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home"></i> Hyde Park, Chicago</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> elnelson@uchicago.edu</p>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Template modified from:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

{% endblock %}
